body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url("https://goo.gl/s7nxVw");
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.superHeroDancer img{
  height: 75px;
}

.superHeroDancer{  
  position: absolute;
}

.drakeDancer {
  position: absolute;
}

.drakeDancer img {
  height: 300px;
}

.catDJ {
  top: 300px;
  left: 730px;
  position: fixed;
}

.dancers img {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}


.dancers img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
